@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600;700&family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: 1rem;
  line-height: 1.5;
}

:root{
  --color-yellow: #fbffa7;
  --color-orange: #ff764d;
  --color-purple: #d5b3ff;
  --color-green: #b6ffc0;
  --color-blue: #0000ff;
  --color-sky: #b1c5ff;
  --color-dark: #000000;
  --color-light: #ffffff;
}

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Jost", sans-serif;
    color: var(--color-dark);
    background-color: #f3f3f3;
}

nav,
.container,
.main-content,
footer{
  background: var(--color-light);  
}

.main-content{
  padding-bottom: 8rem;
}

/* --- PRIMARY NAV --- */
.primary-nav{
  position: relative;
  padding: 1.4rem 2rem;
}

.secondary-nav{
  padding: 1.05rem 2rem;
}


.primary-nav{
  border-bottom: 2px solid #e5e5e5;
  position: relative;
  flex-direction: column;
  gap: 2rem;
}

.secondary-nav{
  transition: all 0.5s ease;
}

.main-site-logo{
  position: absolute;
  left: auto;
  top: auto;
  display: block;
  width: 3.75em;
  height: 1.75em;
}

.primary-nav-left{
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* hidden on desktop */
.menu-toggle{
  display: none;
  background: none;
  font-weight: 500;
  font-size: 1.1rem;
}

.nav-link-list{
  display: flex;
  align-items: center;
  gap: 1.4rem;
  width: 100%;
}

.main-link-list{
  padding-left: 5.5rem;
}

.nav-link-list .try-live{
  margin-left: auto;
  margin-right: 0;
}

.nav-link-list-item a,
.collapsible-toggle-btn{
  color: var(--color-dark);
  font-size: 1.2rem;
  cursor: pointer;
}

.primary-nav .nav-link-list-item a{
  font-weight: 600;
}

.nav-link-list-item a.small-text, 
.small-text{
  font-size: 0.875rem;
  font-weight: 400;
}

.nav-link-list-item.login a{
  font-size: 0.95rem;
  /*border: 6px solid lightblue;*/
}

/* --- blue highlight cta links --- */
.nav-link-list-item .cta-link,
.cta-link{
  color: var(--color-blue);
}

.about-content .cta-link:hover{
  text-decoration: underline;
}

/* --- color active Links red --- */
.nav-link-list-item .active{
  color: var(--color-orange);
  position: relative;
}

.secondary-nav .nav-link-list-item a{
  font-weight: 500;
  font-size: 0.975rem;
}

/* --- General Styles for collapsible nav content --- */
.collapsible-toggle-btn{
  background: none; /* applied to the More button */
}

.collapsible-content-container{
  display: none;
  margin-top: 3rem;
}

.open-collapsible{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.collapsible-content-container > div .collapsible-item-links{
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  overflow-x: auto;
  min-width: 100%;
}

.collapsible-content-item h3{
 font-size: 1.8rem;
 font-weight: 500;
}

.collapsible-content-item h4{
  font-size: 1.15rem;
  font-weight: 500;
}

.collapsible-content-container > div .collapsible-item-links .small-text{
  font-weight: 400;
  font-size: 1.12rem;
}

/* --- collapsible toggle icons button --- */
.bx-plus,
.bx-minus{
  font-size: 1.2rem;
  position: absolute;
  top: 6px;
}

/* --- HERO SECTION --- */
.hero{
  min-height: calc(100vh - 120px);
  margin-left: 8.3vw;
  margin-right: 8.3vw;
  background-image: url("https://ableton-production.imgix.net/about/header.jpg?fit=crop&auto=format&fm=jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-header{
  color: var(--color-orange);
  font-size: 8.5rem;
  font-weight: 500;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  /*border: 5px solid black;*/
}

/* --- section paragraphs styles --- */
.about-content{
  max-width: 750px;
  margin: 3rem 0;
  /*border: 4px solid rosybrown;*/
}

.about-content h2{
  font-size: 1.67rem;
  font-weight: 500;
}

.about-content p{
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

/* --- IMAGE GALLERY --- */
.img-gallery{
  display: flex;
  margin-left: 2rem;
  align-items: center;
  width: 100%;
  padding: 6.3vw 1vw 6.3vw 6.3vw;
  z-index: 2;
}

.gallery-1 > div:first-child{
  background-image: url(https://maryamsfrontendpractice.netlify.app/1.ableton/images/work.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 41vw;
  height: 41vw;
  max-width: 650px;
  max-height: 650px;
}

.gallery-1 > div:last-child{
  background-image: url(https://maryamsfrontendpractice.netlify.app/1.ableton/images/walk.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 34vw;
  height: 26vw;
  margin-left: 8.3vw;
}

.gallery-container::before{
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 58%;
  /*border: 8px solid;*/
}

.gallery-1-container::before{
  right: 0;
  background: var(--color-yellow);
}

.gallery-2 .left-col{
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.gallery-2 .left-col img{
  width: 33vw;
  height: 24vw;
  object-fit: cover;
}


.gallery-2-right-img{
  width: 41vw;
  margin-left: 8.3vw;
}

.gallery-2-container::before{
  left: 0;
  background: var(--color-green);
}

.gallery-3-container,
.gallery-3{
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2.5vw;
  margin-right: 2vw;
}

.gallery-4-container{
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

.gallery-4-container::before{
  margin: 0 auto;
  width: 66vw;
  height: 58vw;
  background: var(--color-purple);
}

.gallery-4{
  padding-right: 0;
}

.gallery-4 img{
  object-fit: cover;
}

.gallery-4 img:first-child{
  width: 33vw;
  height: 22vw;
}

.gallery-4-right-col{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.gallery-4 img:last-child{
  width: 40vw;
  height: 40vw;
}

/* --- ABLETON VIDEO --- */
.ableton-video{
  width: 750px;
}

figcaption{
  padding-left: 1rem;
}

/* --- JOB SECTION --- */
.job-notice-container{
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 0;
}

.job-notice{
  display: flex;
  position: relative;
  width: 100%;
}

.job-notice .job-notice-img{
  background-image: url(https://maryamsfrontendpractice.netlify.app/1.ableton/images/talk.jpg);
  background-size: cover;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  width: 50%;
}

.job-notice-img,
.job-notice-text{
  height: 41.63vw;
}

.job-notice-text{
  width: 50%;
  margin: auto 0;
  background: var(--color-sky);
  padding: 0 8vw;
  display: flex;
  align-items: center;
}

.job-notice-text h2,
.job-notice-text a{
  font-size: 1.2rem;
  font-weight: 600;
}

.job-notice-text h2{
  margin-bottom: 2rem;
}

.job-notice-text a .bx-chevron-right{
  position: relative;
  top: 0.2rem;
}


